.create-collection-modal {
    .modal-header {
        color: $black;
        padding-right: 16px;
        padding-left: 16px;
    }
    .modal-body {
        color: $black;
        .text-gray {
            color: $gray-600;
        }

        .btn-primary {
            border-radius: 4px;
            color: $white;
        }
    }
}
[data-theme="dark"] {
    .create-collection-modal {
        .modal-header {
            color: $white;
        }
        .modal-body {
            color: $white;
        }
    }
    input.form-control, select.form-control {
        background-color: $black;
        color: $white !important;
    }
    input.form-control::placeholder {
        color: rgba($color: $white, $alpha: 0.7) !important;
    }
}