.create-collection-modal {
  .modal-header {
    color: $black;
    padding-right: 16px;
    padding-left: 16px;
  }
  .modal-body {
    color: $black;
    .text-gray {
      color: $gray-600;
    }

    .btn-primary {
      border-radius: 4px;
      color: $white;
    }
  }
}
.puml-scan {
  .modal-dialog {
    max-width: 420px;
  }
  .modal-body {
    color: $black;
    text-align: center;
    font-weight: 600;
    .title {
      font-size: $h4-font-size;
      text-align: left;
    }
    .qr-div {
      margin-top: 26px;
      border: 1px solid #2bdcb1;
      padding-top: 25px;
      font-weight: 600;
      border-radius: 7px;
      canvas {
        padding: 12px;
        background: $white;
      }
      &__alt {
        margin-top: 26px;
        font-size: $h5-font-size;
        border-top: 1px dashed #2bdcb1;
        border-radius: 7px;
        padding: 14px;
      }
    }
    .btn-primary {
      margin-top: 60px;
      color: #303537;
    }
  }
}
[data-theme="dark"] {
  .create-collection-modal {
    .modal-header {
      color: $white;
    }
    .modal-body {
      color: $white;
    }
  }
  input.form-control,
  select.form-control {
    background-color: $black;
    color: $white !important;
  }
  input.form-control::placeholder {
    color: rgba($color: $white, $alpha: 0.7) !important;
  }
  .puml-scan {
    .modal-dialog {
      max-width: 420px;
    }
    .modal-content {
      background: #0e2630;
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }
    .modal-body {
      color: $white;
      .qr-div {
        border: 1px solid #2bdcb1;
        canvas {
          background: $white;
        }
        &__alt {
          border-top: 1px dashed #2bdcb1;
        }
      }
    }
  }
}
