.nftcard {
    z-index: 100;
    color: $white;
    .nft-image {
        width: 100%;
        height: auto;
    }

    .nft-back-orange {
        background: $secondary;
    }
    .nft-back-blue {
        background: $blue;
    }
    .nft-back-indigo {
        background: $indigo;
    }    

    .card-info {
        padding-right: 80px;
        padding-left: 80px;
        @include media-breakpoint-down(lg) {
            padding-right: 40px;
            padding-left: 40px;
        }
        .nft-title {
            font-size: 32px;
            font-weight: $font-weight-bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .nft-price {
            font-size: 20px;
            font-weight: $font-weight-bold;
        }
        .nft-content {
            font-size: 16px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .btn-primary {
            background-color: transparent;
            color: $white;
            border-color: $white;
            border-radius: 10px;
            width: 100%;
        }
    }
}

.myitem-card {
    color: $black;

    .card-image {
        width: 100%;
        height: auto;
        cursor: pointer;
    }

    .card-info {
        background-color: $gray-100;
        padding-right: 40px;
        padding-left: 40px;
        @include media-breakpoint-down(lg) {
            padding-right: 20px;
            padding-left: 20px;
        }
        .puml-price {
            color: $primary;
            font-size: 16px;
            font-weight: bold;
        }
        .eth-price {
            color: $black;
            font-size: 16px;
            font-weight: bold;
        }
        .card-title {
            color: $black;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }
        .card-content {
            color: $gray-500;
        }
    }
}

.hotcard {
    .back-image {
        cursor: pointer;
        width: 100%;
        height: auto;
    }
    .hot-image {
        cursor: pointer;
        width: 70px;
        height: 70px;
        margin-top: -35px;
    }

    .hot-back {
        background: $gray-100;
    }  

    .card-info {
        padding-right: 40px;
        padding-left: 40px;
        @include media-breakpoint-down(lg) {
            padding-right: 20px;
            padding-left: 20px;
        }
        .hot-title {
            color: $black;
            font-size: 24px;
            font-weight: $font-weight-bold;
            padding-top: 10px;
        }
        .hot-type {
            color: $gray-600; 
            font-size: 20px;
            font-weight: $font-weight-bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .btn-primary {
            background-color: $primary;
            color: $white;
            border-color: $primary;
            border-radius: 10px;
            width: 100%;
        }
    }
}