.nftcard {
    z-index: 100;
    color: $white;
    .nft-image {
        width: 100%;
        height: auto;
    }

    .nft-back-orange {
        background: $secondary;
    }
    .nft-back-blue {
        background: $blue;
    }
    .nft-back-indigo {
        background: $indigo;
    }

    .card-info {
        padding-right: 80px;
        padding-left: 80px;
        @include media-breakpoint-down(lg) {
            padding-right: 40px;
            padding-left: 40px;
        }
        .nft-title {
            font-size: 32px;
            font-weight: $font-weight-bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .nft-price {
            font-size: 20px;
            font-weight: $font-weight-bold;
        }
        .nft-content {
            font-size: 16px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .btn-primary {
            background-color: transparent;
            color: $white;
            border-color: $white;
            border-radius: 10px;
            width: 100%;
        }
    }
}

.myitem-card {
    color: $black;
    margin-bottom: 30px;
    cursor: pointer;
    .card-image {
        padding-bottom: 50%;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 250px;
        cursor: pointer;
    }

    .card-info {
        background-color: $gray-100;
        padding-right: 40px;
        padding-left: 40px;
        @include media-breakpoint-down(lg) {
            padding-right: 20px;
            padding-left: 20px;
        }
        .puml-price {
            color: $primary;
            font-size: 16px;
            font-weight: bold;
        }
        .eth-price {
            color: $black;
            font-size: 16px;
            font-weight: bold;
        }
        .card-title {
            color: $black;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }
        .card-content {
            color: $gray-500;
        }
    }
}

.hotcard {
    margin-bottom: 120px;
    .back-image {
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 70%;
        cursor: pointer;
    }
    .hot-image {
        cursor: pointer;
        background-position: center center;
        background-size: cover;
        width: 70px;
        height: 70px;
        margin-top: -35px;
    }

    .hot-back {
        background: $gray-100;
    }

    .card-info {
        padding-right: 40px;
        padding-left: 40px;
        @include media-breakpoint-down(lg) {
            padding-right: 20px;
            padding-left: 20px;
        }
        .hot-title {
            color: $black;
            font-size: 24px;
            font-weight: $font-weight-bold;
            padding-top: 10px;
        }
        .hot-type {
            color: $gray-600;
            font-size: 20px;
            font-weight: $font-weight-bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .btn-primary {
            background-color: $primary;
            color: $white;
            border-color: $primary;
            border-radius: 10px;
            width: 100%;
        }
    }
}

.depositwalletmodal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .modal-title {
        color: $black;
        font-size: 24px;
        font-weight: bold;
    }
    .modal-content {
        padding: 20px;
        border: 1px solid $gray-300;
        border-radius: 10px;
        .auth-title {
            color: $gray-700;
            font-size: 16px;
        }
    }
    .modal-footer {
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        background-color: #e9f9f6;
        color: $black;
        font-size: 16px;
        font-weight: bold;
    }
}

.connectwalletmodal {
    .your-wallet {
        .modal-title {
            color: $black;
            font-size: 24px;
            font-weight: bold;
        }

        .modal-balance {
            color: $white;
            background: $primary;
            border-radius: 10px;
            padding: 24px 20px;
            .balance-title {
                font-size: 16px;
            }
            .balance-amount-usd {
                font-size: 40px;
                font-weight: bold;
            }
            .balance-unit {
                font-size: 24px;
                font-weight: bold;
            }
            .balance-amount-puml {
                font-size: 16px;
            }
        }
        .modal-content {
            border: 1px solid $gray-300;
            border-radius: 10px;
            .currency-content {
                color: $black;
                font-size: 16px;
                font-weight: bold;
            }
            .coin-content {
                color: $gray-600;
                font-size: 14px;
            }

            hr {
                width: 100%;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .btn-primary {
            margin-top: 20px;
            border-radius: 10px;
            color: $white;
            width: 100%;
        }
    }
    .deposit-currency {
        .modal-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 16px;
            padding-bottom: 16px;
            .modal-title {
                color: $black;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .modal-content {
            border: 1px solid $gray-300;
            border-radius: 10px;
            .auth-data {
                padding: 20px 30px;
            }
            .address {
                color: $black;
                font-size: 18px;
                font-weight: bold;
                border-top: 1px dashed $gray-300;
                border-radius: 10px;
            }
        }
    }
}

.fade.modal.show {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
}

.modal-header {
    border-bottom: none;
    padding: 0;
    padding-top: 16px;
    padding-left: 16px;
    .close {
        margin: 0;
        padding: 0;
        margin-right: 20px;
    }
}

.file-uploader {
    text-align: center;
    // border: 2px dashed $gray-300;
    box-sizing: border-box;
    border-radius: 5px;
    .preview {
        position: relative;
        .close-btn {
            position: absolute;
            right: 0px;
            top: -10px;
            svg {
                cursor: pointer;
                font-size: 26px;
            }
        }
        img {
            max-width: 100%;
            width: 320px;
            margin: 10px auto;
        }
    }

    .btn-primary {
        border-radius: 5px;
        color: $white !important;
    }
}

.no-data {
    .btn-primary {
        color: $white;
        background-color: $primary;
        border-radius: 4px;
    }
}

.collection-item {
    cursor: pointer;
    .collection-item-bg {
        padding-bottom: 50%;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 200px;
        cursor: pointer;

        .no-thumbnail {
            max-width: 100%;
            min-height: 300px;
        }
        .nft-avatar {
            position: absolute;
            bottom: -30px;
            left: calc(50% - 30px);
        }
    }

    .title {
        color: $black;
        font-size: 24px;
        font-weight: $font-weight-bold;
    }

    .sub-title {
        color: $gray-600;
        font-size: 20px;
        font-weight: $font-weight-bold;
    }
}

.text-black {
    color: $black;
}

.text-gray {
    color: $gray-600;
}

.background-gray {
    background: $gray-100;
}

.form-control {
    color: $black !important;
}

/* Position */
.pos-absolute {
    position: absolute !important;
}
.pos-relative {
    position: relative !important;
}

.nft-type-btn {
    cursor: pointer;
    border: 1px solid $black;
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 16px;
    min-width: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    @include media-breakpoint-down(xl) {
        padding: 4px 12px;
    }
    @include media-breakpoint-down(lg) {
        padding: 4px 8px;
    }
}

.nft-type-selected {
    background: $primary;
    color: $black !important;
    border-color: $black !important;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .row {
        @include media-breakpoint-down("md") {
            flex-wrap: wrap-reverse;
        }
    }

    .sticky-filters {
        position: sticky;
        top: 110px;
        .filter-header {
            display: flex;
            align-items: center;
            color: $black;
            .filter-reset {
                cursor: pointer;
                color: rgb(0, 102, 255);
                &:hover {
                    color: white;
                }
            }
        }
        .filter-buttons {
            display: flex;
            flex-wrap: wrap;

            .filter-btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                border: 1px solid $black;
                box-shadow: none;
                background-color: transparent;
                color: $black;
                line-height: 40px;
                height: 40px;
                border-radius: 40px;
                padding: 0 20px;
                margin-right: 10px;
                margin-bottom: 10px;
                &.active {
                    border-color: transparent;
                }
            }
        }
    }
}

.btn-create {
    color: $white;
}
