.liked-action {
  cursor: pointer;
  padding: 0 15px;
  line-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: 1px solid $dark;
  svg {
    color: $pink;
    margin-right: 5px;
  }
  &.disabled {
    svg {
        color: $gray;
    }
    &:hover {
        border-width: 1px;
    }
  }
  &:hover {
      border-width: 1px;
  }
}