.link-section {
  border-bottom: 2px solid #2bdcb1;
  @include media-breakpoint-down("sm") {
    padding: 0 10px;
  }
  .nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    .nav-link {
      color: #717171;
      white-space: nowrap;
      position: relative;
      padding-right: 10px;
      span {
        margin-left: 10px;
        padding: 0 5px;
        border-radius: 25px;
        background-color: $gray;
        color: $white;
        line-height: 25px;
        font-size: 16px;
        &.fill-count {
          background-color: $purple;
        }
      }
    }
  }
  .nav-link.active {
    color: $black !important;
    background: rgba(43, 220, 177, 0.4);
    box-shadow: 0px 4px 0px #2bdcb1;
  }
}

[data-theme="dark"] {
  .link-section {
    .nav-link {
      color: #717171;
      &.active {
        color: $white !important;
        background: #0e2630;
      }
      background: #0e2630;
    }
  }
}
