.buyitem-container {
    padding-top: 60px;
    background-color: $bg-default;
    max-width: 100%;
    color: $black;
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
    }
    .media {
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px $primary inset;
        // max-height: 750px;
        object-fit: cover;
    }
    .member-image {
        max-width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    .item-info {
        width: 50%;
        padding-left: 40px;
        @include media-breakpoint-down(lg) {
            width: 100%;
            padding-left: 0px;
        }
        .item-title {
            font-size: 40px;
            font-weight: $font-weight-bold;
        }

        .item-price {
            font-size: 16px;
            .for-sale {
                color: $gray-600;
            }
            .price-puml {
                color: $primary;
                font-weight: $font-weight-bold;
            }
        }

        .item-price1 {
            font-size: 14px;
            .for-sale {
                color: $gray-600;
            }
            .price-puml {
                color: $primary;
                font-weight: $font-weight-bold;
            }
        }

        .item-bid {
            font-size: 14px;
            .bid-attr {
                color: $gray-600;
            }
            .bid-member {
                font-weight: $font-weight-bold;
            }
        }

        .item-members {
            cursor: pointer;
            font-weight: $font-weight-bold;

            .member-type {
                color: $gray-600;
                font-size: 14px;
            }
            .member-name {
                font-size: 16px;
            }
        }

        .item-address {
            .address {
                font-size: 16px;
                font-weight: $font-weight-bold;
            }
        }

        .item-description {
            .title {
                font-size: 16px;
                font-weight: $font-weight-bold;
            }
            .content {
                font-size: 14px;
            }
        }

        .buyitem-tab {
            padding-bottom: 40px;
            .nav-tabs {
                border-bottom: 1px solid $black;
                .nav-link {
                    color: $gray-600;
                    font-weight: bold;
                    background-color: transparent;
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    padding-right: 20px;
                    padding-left: 20px;
                }
                .nav-link:hover {
                    border-bottom: 1px solid $black;
                    color: black;
                }

                & .nav-link.active {
                    border-bottom: 4px solid $primary;
                }
            }
        }
        .history-list {
            overflow-y: auto;
            max-height: 400px;
        }
        .history-item {
            display: flex;
            align-items: center;
        }

        .btn-primary {
            color: $white;
            border-radius: 4px;
            width: 100%;
        }
    }
    .property-image {
        width: 16px;
        height: 16px;
        background-image: url("../../assets/imgs/property.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

[data-theme="dark"] {
    .buyitem-container {
      background: $bgdark;
      color: $white;
      .item-info .buyitem-tab .nav-tabs .nav-link {
        border-bottom: 1px solid $white;
        &:hover {
            color: $white;
        }
        &.active {
            border-bottom: 4px solid #65DEC1;
        }
      }
      .property {
        .property-body {
            border-color: $white;
        }
        .property-title {
            color: $white;
        }
        .property-image {
            background-image: url("../../assets/imgs/property_white.png");
        }
      }
    }
  }
