.buyitem-container {
    padding-top: 60px;
    background-color: $bg-default;
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
    }
    .media {
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px $primary inset;
        max-height: 750px;
        object-fit: cover;
    }
    .member-image {
        max-width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    .property {
        .property-title {
            color: $black;
            font-weight: $font-weight-bold;
            font-size: 18px;
        }

        .property-body {
            border-top: 1px solid $black;
            background-color: $gray-100;
            margin-right: 2px;
            margin-left: 2px;
            .property-item {
                border: 1px solid $primary;
                border-radius: 4px;
                text-align: center;
                background-color: $white;
                padding: 12px;
                .field {
                    color: $primary;
                    font-size: 14px;
                    font-weight: $font-weight-bold;
                }
                .value {
                    color: $black;
                    font-size: 18px;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }

    .item-info {
        width: 50%;
        padding-left: 40px;
        @include media-breakpoint-down(lg) {
            width: 100%;
            padding-left: 0px;
        }
        .item-title {
            color: $black;
            font-size: 40px;
            font-weight: $font-weight-bold;
        }

        .item-price {
            font-size: 16px;
            .for-sale {
                color: $gray-600;
            }
            .price-puml {
                color: $primary;
                font-weight: $font-weight-bold;
            }
        }

        .item-price1 {
            font-size: 14px;
            .for-sale {
                color: $gray-600;
            }
            .price-puml {
                color: $primary;
                font-weight: $font-weight-bold;
            }
        }

        .item-bid {
            font-size: 14px;
            .bid-attr {
                color: $gray-600;
            }
            .bid-member {
                color: $black;
                font-weight: $font-weight-bold;
            }
        }

        .item-members {
            cursor: pointer;
            font-weight: $font-weight-bold;

            .member-type {
                color: $gray-600;
                font-size: 14px;
            }
            .member-name {
                color: $black;
                font-size: 16px;
            }
        }

        .item-address {
            .address {
                color: $black;
                font-size: 16px;
                font-weight: $font-weight-bold;
            }
        }

        .item-description {
            .title {
                color: $black;
                font-size: 16px;
                font-weight: $font-weight-bold;
            }
            .content {
                color: $black;
                font-size: 14px;
            }
        }

        .buyitem-tab {
            padding-bottom: 40px;
            .nav-tabs {
                border-bottom: 1px solid $black;
                .nav-link {
                    color: $gray-600;
                    font-weight: bold;
                    background-color: transparent;
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    padding-right: 20px;
                    padding-left: 20px;
                }
                .nav-link:hover {
                    border-bottom: 1px solid $black;
                    color: black;
                }

                & .nav-link.active {
                    color: $black;
                    border-bottom: 4px solid $primary;
                }
            }
        }
        .history-list {
            overflow-y: auto;
            max-height: 400px;
        }
        .history-item {
            display: flex;
            align-items: center;
        }

        .btn-primary {
            color: $white;
            border-radius: 4px;
            width: 100%;
        }
    }
}
