.collection-detail-container {
    padding: 0px !important;
    background-color: $bg-default;
    color: $black;
    .background-item {
        padding-bottom: 30%;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 300px;
    }

    .user-name {
        font-weight: $font-weight-bold;
        padding-top: 20px;
        font-size: 40px;
        @include media-breakpoint-down(sm) {
            font-size: 28px;
        }
    }

    .avatar {
        background-position: center center;
        background-size: cover;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 2px solid $purple;
        margin-top: -100px;
        position: relative;

        @include media-breakpoint-down(lg) {
            width: 160px;
            height: 160px;
            margin-top: -80px;
        }
        @include media-breakpoint-down(sm) {
            width: 100px;
            height: 100px;
            margin-top: -50px;
        }

        .verify {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 25%;
            height: 25%;
        }
    }

    .section-2 {
        margin-top: 104px;
        .title {
            font-family: Roboto;
            font-weight: 700;
            font-size: 42px;
            line-height: 50px;
            @media screen and (max-width: 576px) {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }

    .section-3 {
        margin-top: 24px;
    }

    .section-4 {
        padding: 100px 0;
        @media screen and (max-width: 576px) {
            padding: 50px 0;
        }
        span {
            font-size: 18px;
        }
        .link-section {
            .nav {
                justify-content: center;
            }
        }

        .tokens-section,
        .collections-section,
        .auction-section,
        .royalties-section {
            margin-top: 55px;
            @media screen and (max-width: 654px) {
                margin-top: 30px;
            }
        }

        .token-view,
        .auction-item,
        .collection-item {
            margin-bottom: 1.5rem;
            @media screen and (max-width: 693px) {
                max-width: 100%;
                min-width: 100%;
                margin-right: 0 !important;
            }
        }

        .notice-view {
            margin-top: 80px;
            @media screen and (max-width: 768px) {
                margin-top: 40px;
            }
            .notice {
                max-width: 910px;
            }
            .btn-section {
                margin-top: 50px;
            }
        }

        .royal-section {
            margin-top: 74px;
            max-width: 500px;
            width: 100%;
            .border-bottom {
                border-bottom: 1px solid #afafaf !important;
                padding-bottom: 10px;
            }
        }

        .question-section {
            margin-top: 150px;
        }
    }
    .no-data {
        .no-item {
            max-width: 300px;
        }
    }
}

[data-theme="dark"] {
    .collection-detail-container {
        background: $bgdark;
        color: $white;
        .link-section .nav .nav-link {
            color: $white;
        }
    }
}
