.editprofile-container {
    .header {
        font-size: 40px;
        font-weight: bold;
        color: $black;
    }
    .description {
        color: $gray-600;
        width: 50%;
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    .container {
        padding-right: 240px;
        padding-left: 240px;
        @include media-breakpoint-down(lg) {
            padding-right: 160px;
            padding-left: 160px;
        }
        @include media-breakpoint-down(md) {
            padding-right: 80px;
            padding-left: 80px;
        }
        @include media-breakpoint-down(sm) {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    .connect-wallet {
        cursor: pointer;
    }

    .form-control {
        color: $black;
    }

    .edit-profile {
        align-items: center;
        padding-top: 20px;
        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        .input-group-text {
            color: $black;
        }

        .form {
            margin-right: 16px;
            @include media-breakpoint-down(sm) {
                margin-right: 0px;
            }
        }

        .edit-form {
            padding-right: 40px;
            padding-bottom: 20px;
            @include media-breakpoint-down(sm) {
                padding-right: 0;
            }
        }

        .edit-detail {
            padding: 20px;
            border: 3px dashed $gray-600;
            border-radius: 10px;
            width: 100%;
            .mail {
                font-size: 18px;
                font-weight: bold;
                color: $black;
            }
            .desc {
                color: $black;
            }
            .filetype {
                color: $gray-600;
            }
        }

        .avatar-uploader {
            border: 2px dashed $gray-300;
            .avatar-preview {
                margin: 20px auto;
                width: 106px;
                height: 106px;
                border-radius: 106px;
                border: 3px solid $purple;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                    object-fit: cover;
                }
            }
            .file-uploader {
                color: $black;

                .email {
                    font-weight: bold;
                    font-size: 18px;
                }

                .title {
                    font-size: 16px;
                }

                .file-type {
                    font-size: 16px;
                    color: $gray-600;
                }

                .btn-primary {
                    border-radius: 5px;
                    color: $white !important;
                }
            }
        }

        .btn-primary {
            border-radius: 10px;
            color: $white;
            width: 160px;
            // @include media-breakpoint-down(sm) {
            //     width: 100%;
            // }
        }
    }
}
