.editprofile-container {
  background-color: $bg-default;
  padding-top: 40px;
  color: $black;
  .header {
    font-size: 40px;
    font-weight: bold;
  }
  .description {
    color: $gray-600;
    width: 50%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .connect-wallet {
    cursor: pointer;
  }

  .edit-profile {
    align-items: center;
    padding-top: 20px;
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .form {
      margin-right: 16px;
      @include media-breakpoint-down(sm) {
        margin-right: 0px;
      }
    }

    .edit-form {
      padding-right: 40px;
      padding-bottom: 20px;
      @include media-breakpoint-down(sm) {
        padding-right: 0;
      }
    }

    .edit-detail {
      padding: 20px;
      border: 3px dashed $gray-600;
      border-radius: 10px;
      width: 100%;
      .mail {
        font-size: 18px;
        font-weight: bold;
      }

      .filetype {
        color: $gray-600;
      }
    }

    .avatar-uploader {
      border: 2px dashed $gray-300;
      .avatar-preview {
        margin: 20px auto;
        width: 106px;
        height: 106px;
        border-radius: 106px;
        border: 3px solid $purple;
        img {
          width: 100px;
          height: 100px;
          border-radius: 100px;
          object-fit: cover;
        }
      }
      .file-uploader {
        .email {
          font-weight: bold;
          font-size: 18px;
        }

        .title {
          font-size: 16px;
        }

        .file-type {
          font-size: 16px;
          color: $gray-600;
        }

        .btn-primary {
          border-radius: 5px;
          color: $white !important;
        }
      }
    }

    .btn-primary {
      border-radius: 5px;
      color: $white;
      width: 160px;
    }
  }
}

[data-theme="dark"] {
  .editprofile-container {
    background: $bgdark;
    color: $white;
    input,
    textarea {
      color: $white !important;
      background: $bgdark;
    }
    input::placeholder,
    textarea::placeholder {
      color: $white;
      opacity: 60%;
    }
    .input-group-text {
      background: rgba($color: $gray, $alpha: 0.7);
    }
  }
}
