.home-container {
    background: $white;
    @include media-breakpoint-down(xl) {
        padding: 0px 64px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0px 40px;
    }
    @include media-breakpoint-down(md) {
        padding: 0px 20px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0px 10px;
    }

    .section-intro {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include media-breakpoint-down(xl) {
            height: 900px;
        }
        @include media-breakpoint-down(lg) {
            height: 700px;
        }
        @include media-breakpoint-down(md) {
            height:500px;
        }
        @include media-breakpoint-down(sm) {
            height: 300px;
        }
        .intro-content {
            width: 50%;
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
            .intro-title {
                color: $primary;
                font-size: $h1-font-size * 2;
                @include media-breakpoint-down(md) {
                    font-size: $h1-font-size;
                    padding-top: 60px;
                }
                font-weight: $font-weight-bold;
            }
            .intro-type {
                color: $black;
                font-size: $h1-font-size * 2;
                @include media-breakpoint-down(md) {
                    font-size: $h1-font-size;
                }
                font-weight: $font-weight-bold;
            }
            .intro-desc {
                color: $gray-600;
                width: 100%;
                font-size: $h5-font-size;
                @include media-breakpoint-down(md) {
                    font-size: $h6-font-size;
                }
                font-weight: $font-weight-light;
            }

            .intro-connect-btnGroup {
                display: flex;
                flex-direction: column;
                
                @include media-breakpoint-down(md) {
                    flex-direction: row;
                }
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .btn {
                    padding-left: 20px;
                    @include media-breakpoint-down(sm) {
                        padding-left: 10px;
                    }
                    border-radius: 10px;
                    width: 50%;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }
                    height: auto;
                    text-align: left;
                }

                .btn-outline-secondary {
                    color: $secondary;
                }

                .connect-img {
                    width: 40px;
                    height: 40px;
                }
                .intro-btn-wallet {
                    @include media-breakpoint-down(md) {
                        padding-right: 20px;
                    }
                    @include media-breakpoint-down(sm) {
                        padding-right: 0px;
                        width: 60%;
                    }
                    @include media-breakpoint-down(xs) {
                        width: 100%;
                    }
                    > .btn-primary {
                        color: $white;
                    }
                }
                .intro-btn-metamask {
                    > .btn-primary {
                        background-color: $white;
                    }

                    .btn-primary:hover {
                        color: $white;
                        background: $secondary;
                    }

                    @include media-breakpoint-down(sm) {
                        width: 60%;
                    }
                    @include media-breakpoint-down(xs) {
                        width: 100%;
                    }
                }
            }
        }
        .intro-image {
            width: 80%;
            height: auto;
            position: absolute;
            top: 0;
            right: -64px;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
        .intro-ticket {
            position: absolute;
            width: 30%;
            height: auto;
            top: 10%;
            right: 5%;

            .ticket-img {
                width: 100%;
                height: auto;
            }

            @include media-breakpoint-down(lg) {
                display: none;
            }

            .ticket-content {
                background-color: $white;
                color: $black;
                .title {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: 32px;
                    font-weight: $font-weight-bold;
                }
                .price {
                    color: $primary;
                    padding-bottom: 20px;
                    font-size: 20px;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }

    .section {
        padding-top: 100px;
        @include media-breakpoint-down(lg) {
            padding-top: 40px;
        }
        color: $black;

        .section-title {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: left;
        }

        .justify-center {
            justify-content: left;
            @include media-breakpoint-down(sm) {
                justify-content: center;
            }
        }

        .btn-type {
            border: 1px solid $primary;
            background-color: transparent;
            color: $primary;
            padding-right: 40px;
            padding-left: 40px;
        }
        .btn-type:hover {
            background-color: $primary;
            color: $white;
        }

        .seller-segment {
            cursor: pointer;
            .seg-img {
                width: 100%;
                height: auto;
                border-width: 4px;
                border-radius: 100%;
            }
            .seg-name {
                font-size: 18px;
                font-weight: $font-weight-bold;
                color: $black;
            }
            .seg-type {
                font-size: 16px;
                font-weight: $font-weight-bold;
                color: $gray-600;
            }
            .seg-price {
                font-size: 18px;
                font-weight: $font-weight-bold;
                color: $primary;
            }
            .seg-price-eth {
                font-size: 14px;
                font-weight: $font-weight-bold;
                color: $black;
            }
        }
    }

    .modal-title {
        color: $black;
        font-size: 24px;
        font-weight: $font-weight-bold;
    }
}
