.home-container {
  background: $white;
  color: $black;
  @include media-breakpoint-down(xl) {
    padding: 0px 64px;
  }
  @include media-breakpoint-down(lg) {
    padding: 0px 40px;
  }
  @include media-breakpoint-down(md) {
    padding: 0px 20px;
    padding-top: 100px;
  }
  @include media-breakpoint-down(sm) {
    padding: 0px 10px;
  }

  .section-intro {
    position: relative;
    display: flex;
    flex-direction: row;
    background: url("../../assets/imgs/intro-bg.png") no-repeat;
    background-size: 100% auto;

    @include media-breakpoint-down(xl) {
      margin: 0 -64px;
      padding: 0px 64px;
    }
    @include media-breakpoint-down(lg) {
      margin: 0px -40px;
      padding: 0px 40px;
    }
    @include media-breakpoint-down(md) {
      margin: 0px -20px;
      padding: 0px 20px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0px -10px;
    }
    padding-bottom: 50px;

    .intro-content {
      width: 55%;
      padding-top: 100px;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      .intro-border {
        border: 8px solid #ffffff;
        box-shadow: 0px 0px 23px 3px #4ac4ff, inset 0px 0px 2px 2px #4ac4ff;
        border-radius: 45px;
        max-width: 526px;
        padding: 40px;
      }
      .intro-title {
        color: $primary;
        font-size: 70px;
        @include media-breakpoint-down(md) {
          font-size: 50px;
          padding-top: 60px;
        }
        font-weight: $font-weight-bold;
      }
      .intro-type {
        font-size: 60px;
        @include media-breakpoint-down(md) {
          font-size: $h1-font-size;
        }
        font-weight: $font-weight-bold;
      }
      .intro-desc {
        color: $gray-600;
        width: 100%;
        font-size: $h5-font-size;
        line-height: 24px;
        @include media-breakpoint-down(md) {
          font-size: $h6-font-size;
        }
        font-family: Rubik-regular;
      }

      .intro-connect-btnGroup {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(md) {
          flex-direction: row;
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          //align-items: center;
          //justify-content: center;
        }
        .btn {
          padding-left: 20px;
          @include media-breakpoint-down(sm) {
            padding-left: 10px;
          }
          border-radius: 10px;
          width: 50%;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
          height: auto;
          text-align: left;
        }

        .btn-outline-secondary {
          color: $secondary;
        }

        .connect-img {
          width: 40px;
          height: 40px;
        }
        .intro-btn-wallet {
          @include media-breakpoint-down(md) {
            padding-right: 20px;
          }
          @include media-breakpoint-down(sm) {
            padding-right: 0px;
            width: 60%;
          }
          @include media-breakpoint-down(xs) {
            width: 100%;
          }
          > .btn-primary {
            color: $white;
          }
        }
        .intro-btn-metamask {
          > .btn-primary {
            background-color: $white;
          }

          .btn-primary:hover {
            color: $white;
            background: $secondary;
          }

          @include media-breakpoint-down(sm) {
            width: 60%;
          }
          @include media-breakpoint-down(xs) {
            width: 100%;
          }
        }
      }
    }
    // .intro-image {
    //   width: 75%;
    //   @include media-breakpoint-down(xl) {
    //     height: calc(0.61 * 100vw - 128px);
    //   }
    //   position: absolute;
    //   top: 0;
    //   right: -64px;
    //   //   background-image: url("../../assets/imgs/home-intro.png");
    //   background-size: 100% 100%;
    //   background-repeat: no-repeat;
    //   @include media-breakpoint-down("lg") {
    //     display: none;
    //   }
    // }
    .intro-ticket {
      padding-top: 90px;
      width: 100%;
      max-width: 430px;
      filter: drop-shadow(0px 0px 45px rgba(43, 220, 177, 0.55));
      .upload-image {
        display: none;
        position: absolute;
        left: 20px;
        bottom: 130px;
        font-size: 24px;
        color: $primary;
      }
      &:hover {
        .upload-image {
          display: block;
        }
      }
      .ticket-img {
        width: 100%;
        height: auto;
      }

      @include media-breakpoint-down(lg) {
        display: none;
      }

      .ticket-content {
        background: $white;
        .edit-content {
          position: absolute;
          bottom: 20px;
          right: 20px;
          font-size: 24px;
          color: $secondary;
          cursor: pointer;
          display: none;
        }
        &:hover {
          .edit-content {
            display: block;
          }
        }
        .title {
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 32px;
          font-weight: $font-weight-bold;
        }
        .price {
          color: $primary;
          padding-bottom: 20px;
          font-size: 20px;
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  .section {
    padding-top: 100px;
    position: relative;
    z-index: 2;
    &.top-sellers {
    }
    @include media-breakpoint-down("lg") {
      padding-top: 40px;
    }

    .section-title {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: left;
    }

    .justify-center {
      justify-content: left;
      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }

    .btn-type {
      border: 1px solid $primary;
      background-color: transparent;
      color: $primary;
      padding-right: 40px;
      padding-left: 40px;
    }
    .btn-type:hover {
      background-color: $primary;
      color: $white;
    }

    .seller-segment {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      text-align: left;
      .seg-img {
        width: 50px;
        height: 50px;
        border: 2px solid $purple;
        border-radius: 100%;
        margin-right: 12px;
      }
      .seg-name {
        font-weight: $font-weight-bold;
        font-size: 16px;
      }
      .seg-type {
        font-size: 16px;
        font-weight: $font-weight-bold;
        color: $gray-600;
      }
      .seg-price {
        font-size: 14px;
        font-weight: $font-weight-bold;
        color: $primary;
      }
      .seg-price-eth {
        font-size: 14px;
        font-weight: $font-weight-bold;
        color: #39a5da;
      }
    }
  }

  .modal-title {
    font-size: 24px;
    font-weight: $font-weight-bold;
  }
  .header-search-form {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 16px;
    margin-right: 20px;
    border: 1px solid #3eddb6;
    svg {
      fill: #3eddb6;
    }
    input::placeholder {
      color: #535f78;
      font-family: Rubik-regular;
    }
    .form-control {
      width: 200px;
      background: transparent;
      border: none;
      outline: none;
      height: 30px;
      padding: 0 0.75rem;
      box-shadow: inset 0 0px 0 #ddd !important;
      &:focus {
        background: transparent;
      }
    }
  }
}

[data-theme="dark"] {
  .home-container {
    background: $bgdark;
    color: $white;
    .text-dark {
      color: $white !important;
    }

    .section-intro {
      background-image: url("../../assets/imgs/home-introdark.png");
    }
    .ticket-content {
      background: #081f2c !important;
    }
    .intro-type {
      background: -webkit-linear-gradient(right, #5ec9bf, #39a5da);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .myitem-card {
    .card-info {
      .eth-price,
      .card-title {
        color: $white;
      }
    }
  }
}
