.myitems-container {
    .background-item {
        position: relative;
        padding-bottom: 30%;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 300px;
        z-index: 10;
        .upload-img {
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            right: 58px;
            color: $black;
            background: $white;
            padding: 5px 20px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            @include media-breakpoint-down(sm) {
                right: 20px;   
            }
        }
        .form-control-file {
            display: none;
        }

        label {
            margin-bottom: 0px;
        }
    }

    .user-name {
        color: $black;
        font-weight: bold;
        padding-top: 20px;
        font-size: 40px;
        @include media-breakpoint-down(sm) {
            font-size: 28px;
        }
    }

    .avatar {
        background-position: center center;
        background-size: cover;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        position: relative;
        z-index: 15;
        @include media-breakpoint-down(lg) {
            width: 160px;
            height: 160px;
            margin-top: -80px;
        }
        @include media-breakpoint-down(sm) {
            width: 100px;
            height: 100px;
            margin-top: -50px;
        }
        .verify {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 25%;
            height: 25%;
        }
    }

    .link-profile {
        width: 30%;
        @include media-breakpoint-down(sm) {
            width: 70%;
        }
        .btn-primary {
            width: 100%;
            padding-top: 10px;
            color: $white !important;
        }
        .btn {
            border-radius: 10px;
        }
    }

    .myitems-tab {
        padding-right: 58px;
        padding-left: 58px;
        @include media-breakpoint-down(sm) {
            padding-right: 20px;
            padding-left: 20px;
        }
        .nav {
            flex-wrap: nowrap;
        }
        .nav-tabs {
            border-bottom: 1px solid $black;
            .nav-link {
                color: $gray-600;
                font-weight: bold;
                background-color: transparent;
                border-top: 0;
                border-right: 0;
                border-left: 0;
            }
            .nav-link:hover {
                border-bottom: 1px solid $black;
                color: black;
            }

            & .nav-link.active {
                color: $black;
                border-bottom: 4px solid $primary;
            }
            
        }
    }
}
