.myitems-container {
  padding: 0px !important;
  background-color: $bg-default;
  color: $black;
  .section-1 {
    .intro {
      position: relative;
      width: 100%;
      height: 360px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      padding: 15px 30px;
      @include media-breakpoint-down("md") {
        padding: 15px 20px;
      }
      .breadcrumbs > span:last-child {
        font-weight: bold;
      }
      .avatar {
        width: 200px;
        height: 200px;
        border: 5px solid $primary;
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translate(-50%, 50%);
        object-fit: cover;
      }
      .cover-btn {
        transform: translateY(100px);
        opacity: 0;
        z-index: 10;
        transition: all 0.5s ease-in-out 0s;
        position: absolute;
        bottom: 16px;
        right: 10px;
        &.save-btn {
          transform: translateY(0px);
          opacity: 1;
        }
      }
      &:hover {
        .btn-outline-white {
          background-color: $white;
          &:hover {
            background-color: $secondary;
            color: $white;
          }
        }
        .cover-btn {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }

  .section-2 {
    margin-top: 104px;
    .title {
      font-family: Rubik-bold;
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
      @include media-breakpoint-down("sm") {
        font-size: 30px;
        line-height: 30px;
      }
    }
    .copy-icon {
      cursor: pointer;
      transition: ease-in-out all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
      &.clicked {
        transform: rotate(180deg);
      }
    }
  }

  .section-3 {
    margin-top: 24px;
  }

  .section-4 {
    padding: 100px 0;
    @include media-breakpoint-down("sm") {
      padding: 50px 0;
    }
    span {
      font-size: $font-size-lg;
    }

    .tokens-section,
    .collections-section,
    .auction-section,
    .royalties-section {
      margin-top: 55px;
      @include media-breakpoint-down("sm") {
        margin-top: 30px;
      }
    }

    .token-view,
    .auction-item,
    .collection-item {
      margin-bottom: 1.5rem;
      @include media-breakpoint-down("sm") {
        max-width: 100%;
        min-width: 100%;
        margin-right: 0 !important;
      }
    }

    .auction-item {
      background-color: rgba(80, 255, 212, 0.2);
    }

    .notice-view {
      margin-top: 80px;
      @include media-breakpoint-down("md") {
        margin-top: 40px;
      }
      .notice {
        max-width: 910px;
      }
      .btn-section {
        margin-top: 50px;
      }
    }
  }
  .no-data {
    .no-item {
      max-width: 300px;
    }
  }
}

[data-theme="dark"] {
  .myitems-container {
    background: $bgdark;
    color: $white;
    .link-section .nav .nav-link {
      &.active {
        color: #65dec1 !important;
      }
    }
    .auction-item {
      background: rgba(80, 255, 212, 0.2);
      .token-collection-name {
        color: rgba($color: $white, $alpha: 0.6);
      }
    }
  }
}
