.stake-container {
  padding-bottom: 10px;
  color: $black;

  .btn {
    color: $white;
  }

  .section-intro {
    position: relative;
    display: flex;
    flex-direction: row;
    background: url("../../assets/imgs/intro-bg.png") no-repeat;
    background-size: 100% auto;

    @include media-breakpoint-down(xl) {
      padding: 115px 64px 200px;
    }
    @include media-breakpoint-down(lg) {
      padding: 0px 40px;
    }
    @include media-breakpoint-down(md) {
      padding: 0px 20px;
    }
    @include media-breakpoint-down(sm) {
    }
    .intro-content {
      width: 55%;
      padding-top: 100px;
      @include media-breakpoint-down(lg) {
        width: 100%;
        padding-top: 20px;
      }
      &__content {
        max-width: 530px;
        margin: auto;
      }
      .intro-title {
        font-size: $h1-font-size;
        @include media-breakpoint-down(md) {
          font-size: $h1-font-size;
        }
        font-weight: $font-weight-bold;
      }
      .intro-type {
        background: linear-gradient(94.68deg, #5ec9bf 40.1%, #39a5da 94.6%);
        display: inline-block;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: $h1-font-size * 2;
        @include media-breakpoint-down(md) {
          font-size: $h1-font-size;
        }
        font-weight: $font-weight-bold;
      }
      .intro-connect-btnGroup {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(md) {
          flex-direction: row;
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          //align-items: center;
          //justify-content: center;
        }
        .connect-img {
          width: 40px;
          height: 40px;
        }
        .intro-btn-wallet {
          margin: 30px 0;
          @include media-breakpoint-down(md) {
            padding-right: 20px;
          }
          @include media-breakpoint-down(sm) {
            padding-right: 0px;
            width: 60%;
          }
          @include media-breakpoint-down(xs) {
            width: 100%;
          }
          a {
            padding: 14px 56px;
            background: #4bb7cd;
            border-radius: 4px;
            border: 0;
            color: $white !important;
            @include media-breakpoint-down(sm) {
              margin-bottom: 10px;
            }
            height: auto;
            text-align: left;
            &:active,
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
        .intro-btn-metamask {
          > .btn-primary {
            background-color: $white;
          }

          .btn-primary:hover {
            color: $white;
            background: $secondary;
          }

          @include media-breakpoint-down(sm) {
            width: 60%;
          }
          @include media-breakpoint-down(xs) {
            width: 100%;
          }
        }
      }
    }
    .intro-image {
      width: 75%;
      @include media-breakpoint-down(xl) {
        height: calc(0.61 * 100vw - 128px);
      }
      position: absolute;
      top: 0;
      right: -64px;
      background-image: url("../../assets/imgs/home-intro.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      @include media-breakpoint-down("lg") {
        display: none;
      }
    }
    .intro-ticket {
      margin: 0 auto;
      padding-top: 90px;
      width: 100%;
      max-width: 430px;
      max-height: 430px;
      position: relative;
      .blur-bg {
        width: 100%;
        height: 100%;
        background: #63ecff;
        filter: blur(81px);
      }
      .ticket-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
      }

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  .stake-intro {
    background: linear-gradient(0deg, #f3f3f3 0%, #fcfcfc 100%);
    display: inline-block;
    margin-left: -64px;
    width: calc(100% + 128px);
    @include media-breakpoint-down(md) {
      flex-direction: column;
      width: calc(100% + 20px);
      margin-left: -10px;
    }
    &__img {
      @include media-breakpoint-down(md) {
        width: 70%;
      }
    }
    &__desc {
      margin-left: -3%;
      padding: 200px 120px 0 0;
      @include media-breakpoint-down(md) {
        padding: 20px;
        margin-left: 0;
      }
    }
    .stake-sen {
      max-width: 800px;
      &__title {
        font-size: $font-size-base * 3.75;
        font-weight: 700;
        @include media-breakpoint-down(sm) {
          font-size: $font-size-base * 2;
        }
      }
      &__subtitle {
        padding-top: 24px;
        font-size: $font-size-base * 1.77;
        color: $primary;
        font-weight: 700;
        @include media-breakpoint-down(sm) {
          font-size: $font-size-base * 1.4;
        }
      }
      &__description {
        padding-top: 24px;
        font-size: $font-size-base;
        line-height: 19px;
        opacity: 0.8;
      }
    }
  }
  .stakes {
    padding: 64px 64px 0;
    @include media-breakpoint-down(md) {
      padding: 64px 15px 0;
    }
    &__title {
      font-size: $h4-font-size;
      font-weight: 600;
      .item-price {
        color: $primary;
        font-size: $font-size-base * 2;
      }
      .item-desc {
        font-size: $font-size-base * 1.19;
        font-weight: 400;
        opacity: 0.6;
      }
    }
    &__contain {
      padding: 0px 24px 52px;
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      margin-bottom: 3px;
      margin-top: 32px;
      .tab {
        position: relative;
        left: -24px;
        width: calc(100% + 48px);
        overflow: auto;
        &__item {
          width: 50%;
          float: left;
          padding: 16px 0;
          box-shadow: inset -1px 0px 0px #ecf1fc;
          font-size: $font-size-base;
          opacity: 0.6;
          font-weight: 600;
          text-align: center;
          border-bottom: 4px solid #f5f6f7;
          &:hover {
            cursor: pointer;
          }
          &--active {
            opacity: 1;
            border-color: $primary;
          }
        }
      }
      .inp {
        padding-top: 32px;
        overflow: auto;
        &__input {
          float: left;
          padding: 0;
          input {
            font-size: $font-size-base * 1.125;
            font-weight: 600;
            padding: 19px 12px;
            border: 1px solid #e1e5eb;
            border-radius: 3px;
            width: 100%;
            color: $black;
            background: rgba(255, 255, 255, 0.2);
            &:visited,
            &:focus,
            &:focus-visible &:target {
              outline: none;
            }
          }
          .btn {
            font-size: $font-size-base * 0.875;
            position: absolute;
            right: 10px;
            top: 10px;
          }
          &--prex {
            border: 1px solid #e1e5eb;
            border-radius: 3px;
            padding: 9px;
            font-size: $font-size-base * 1.125;
            font-weight: 600;
            background: rgba(255, 255, 255, 0.2);
            input {
              border: none;
              padding: 0;
              width: 110px;
              background: transparent;
            }
            i {
              font-style: normal;
              opacity: 0.6;
              font-size: $font-size-base * 1.125;
            }
          }
        }
        &__btn {
          float: left;
          text-align: center;
          @include media-breakpoint-down(sm) {
            text-align: left;
            padding: 0;
          }
          .btn {
            font-size: $font-size-base;
            padding: 14px 78px;
          }
        }
      }
      .valupap {
        padding-top: 37px;
        overflow: auto;
        font-size: $font-size-base;
        font-weight: 600;
        min-height: 70px;
        &__key {
          float: left;
        }
        &__val {
          float: right;
          span {
            font-size: $h4-font-size;
            color: $primary;
          }
          i {
            font-style: normal;
            margin-left: 5px;
            position: relative;
            top: -3px;
          }
          &--gray {
            opacity: 0.6;
          }
        }
      }
      .devided {
        margin-top: 36px;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    &__noitem {
      text-align: center;
      background: rgba(196, 196, 196, 0.07);
    }
    &__normal {
      font-weight: 600;
      font-size: $font-size-base;
    }
    .slide {
      &__item {
        position: relative;
        background: rgba(196, 196, 196, 0.07);
        &--active {
          border: 1px solid #2bdcb1;
          &:after {
            position: absolute;
            content: "";
            width: 32px;
            height: 32px;
            top: 8px;
            right: 8px;
            border-radius: 30px;
            background-image: url("../../assets/imgs/checked.png");
          }
        }
        img {
          width: 100%;
        }
      }
    }
    &__returnstake {
      border: 1px solid $primary;
      border-left: 0;
      border-right: 0;
      .valupap {
        font-weight: 600;
        span {
          font-size: $h4-font-size;
          color: $primary;
        }
        i {
          font-style: normal;
          margin-left: 5px;
          position: relative;
          top: -3px;
        }
      }
    }
  }
  .nft-reward {
    padding-left: 64px;
    @include media-breakpoint-down(md) {
      padding-left: 15px;
    }
    overflow: auto;
    font-size: $font-size-base;
    font-weight: 600;
    min-height: 70px;
    &__val {
      padding-top: 10px;
      span {
        font-size: $h4-font-size;
        color: $primary;
      }
      i {
        font-style: normal;
        margin-left: 5px;
        position: relative;
        top: -3px;
      }
    }
  }
}
.carousel .carousel-control-prev span,
.carousel .carousel-control-next span {
  background-color: $primary;
}

[data-theme="dark"] {
  .stake-container {
    background: $bgdark;
    color: $white;
    .section-intro {
      background: #000c13;
    }
    .stake-intro {
      background: $bgdark;
    }
    .stakes {
      &__contain {
        background: $bgdark;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);
      }
    }
    .tab__item {
      border-color: $bgdark;
      box-shadow: none;
      &--active {
        border-color: $primary;
      }
    }
    .inp {
      input {
        color: $white;
      }
    }
    .myitem-card .card-info {
      .card-title {
        color: $white;
      }
    }
  }
}
