// Bootstrap Variables
$container-gutter-width: 22px;

$theme-colors: map-merge($theme-colors, ("primary": $primary));

// Application Variables
$fonts: (
  'Roboto-Light':              ( family: 'Roboto',              file: 'Roboto-Light',           weight: 300, style: normal ),
  'Roboto-Regular':          ( family: 'Roboto',              file: 'Roboto-Regular',       weight: 400, style: normal ),
  'Roboto-Thin':               ( family: 'Roboto',              file: 'Roboto-Thin',           weight: 500, style: normal ),
  'Roboto-Medium':         ( family: 'Roboto',              file: 'Roboto-Medium',      weight: 600, style: normal ),
  'Roboto-Bold':               ( family: 'Roboto',              file: 'Roboto-Bold',           weight: 700, style: normal ),
  'Roboto-Black':             ( family: 'Roboto',              file: 'Roboto-Black',          weight: 900, style: normal ),
  'Rubik-Light':                ( family: 'Rubik-light',        file: 'Rubik-Light',            weight: 300, style: normal ),
  'Rubik-Regular':            ( family: 'Rubik-regular',    file: 'Rubik-Regular',        weight: 400, style: normal ),
  'Rubik-Medium':           ( family: 'Rubik-medium',   file: 'Rubik-Medium',        weight: 500, style: normal ),
  'Rubik-Semibold':         ( family: 'Rubik-semibold',  file: 'Rubik-SemiBold',      weight: 600, style: normal ),
  'Rubik-Bold':                ( family: 'Rubik-bold',         file: 'Rubik-Bold',             weight: 700, style: normal ),
  'Rubik-Black':               ( family: 'Rubik-black',       file: 'Rubik-Black',            weight: 900, style: normal ),
  'ProximaNova-Bold':               ( family: 'ProximaNova-bold',       file: 'ProximaNova-Bold',            weight: 600, style: normal ),
  'ProximaNova-Regular':               ( family: 'ProximaNova-regular',       file: 'ProximaNova-Regular',            weight: 600, style: normal ),
);

$font-weights: (
  'light': $font-weight-light,
  'normal': $font-weight-normal,
  'bold': $font-weight-bold
);

$headings: (
  'h1': ('font-size': $h1-font-size, 'letter-spacing': 0, 'line-height': 1),
  'h2': ('font-size': $h2-font-size, 'letter-spacing': 0, 'line-height': 1),
  'h3': ('font-size': $h3-font-size, 'letter-spacing': 0, 'line-height': 1),
  'h4': ('font-size': $h4-font-size, 'letter-spacing': 0, 'line-height': 1),
  'h5': ('font-size': $h5-font-size, 'letter-spacing': 0, 'line-height': 1),
  'h6': ('font-size': $h6-font-size, 'letter-spacing': 0, 'line-height': 1)
);

$font-sizes: (
  'lg': ('font-size': $font-size-lg),
  'md': ('font-size': $font-size-base * 1.125),
  'base': ('font-size': $font-size-base),
  'sm': ('font-size': $font-size-sm),
);